
:root {
  /* COMMON */
  --tbu-bg: #EDDD6E;
  --tbu-color: #fa0077;
  --tbu-dark: #1D272D;
  --tbu-text: var(--tbu-dark);
  --tbu-hover: var(--tbu-dark);
  --tbu-meta: #929292;
  --tbu-gray: #656565;

  /* FONT SIZE */
  --tbu-font-size-xxxl: 4rem;
  --tbu-font-size-xxl: 3rem;
  --tbu-font-size-xl: 3.25rem;
  --tbu-font-size-l: 2.8rem;
  --tbu-font-size-ml: 2.2rem;
  --tbu-font-size-m: 2rem;
  --tbu-font-size-s: 1.3rem;
  --tbu-font-size-xs: 1rem;
  --tbu-code-size: 1.1rem;
    /* SPACING */
  --tbu-line-height: 1.4;
  --tbu-spacing-xxs: 0.25rem;
  --tbu-spacing-xs: 0.5rem;
  --tbu-spacing-s: 1rem;
  --tbu-spacing-m: 1.5rem;
  --tbu-spacing-l: 2rem;
  --tbu-spacing-xl: 3rem;
  --tbu-spacing-xxl: 6rem;
  /* CODE */
  --tbu-code-text: #ececec;
  --tbu-code-type: #42b8ff;
  --tbu-code-bg: #1E1E1E;
  --tbu-code-func: var(--tbu-code-text);
  --tbu-code-key: #ff419b;
  --tbu-code-comment: #656565;
  --tbu-code-cp: #ae81ff;
  /* --tbu-code-numeric: #ffd841; */
  --tbu-code-numeric: #ffda5b;
  --tbu-code-class: #30fde3;
  --tbu-code-string: #ff7b5b;
  --header-height: 5rem;
  color: var(--tbu-text);
  font-family: 'Archivo', Arial, Helvetica, Swiss, sans-serif;;
  font-size: 21px;
  line-height: var(--tbu-line-height);
}

body {
  background: var(--tbu-bg);
  font-size: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 1rem;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

/* WRAPPER */
.wrapper {
  margin: 0 auto;
  max-width: 38rem;
  height: inherit;
}

/* @media (--large-down) {
  max-width: 48rem;
}
@media (--medium-down) {
  max-width: 100%;
  padding: 0 var(--tbu-spacing-s);
} */

.section-content, .post {
  margin: var(--tbu-spacing-xxl) 0;
  @media (--medium-down) {
    margin: var(--tbu-spacing-xl) 0;
  }
}
