---
title: tobiasbu's blog
layout: base.njk
pagination:
  data: collections.posts
  alias: posts
  size: 10
---
<main>
  <ul class="post-list" aria-label="articles/posts by date, newest first">
    {% for post in posts %}

    <li>
      <time datetime="{{ post.data.date | html_date }}" itemprop="datePublished">{{ post.data.date | readable_date }}</time>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </li>

    {% endfor %}
  </ul>
</main>
