---
layout: base.njk
---
<article>
  <time datetime="{{ page.date | html_date }}" itemprop="datePublished">{{ page.date | readable_date }}</time>
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>